
:root{
    background-color: gold;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 1.5s forwards;
}
.totalblack{
    width:90%;
    height:90%;
    background-color: black;
    margin-top: 3%;
    margin-left: 3%;
    box-shadow: 10px 3px 5px 6px;
    border-radius: 20px;
    position: relative;
    
}
ul li{
    text-decoration: none;
    display: block;
}
nav:hover{
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 15px 35px rgba(0, 255, 255, 0.4);
}
.edu:hover{
    transform: translateY(-5px) scale(1.03);
        box-shadow: 0 15px 35px rgba(0, 255, 255, 0.4);
        border-radius: 20px;
}
.cer:hover{
    transform: translateY(-5px) scale(1.03);
        box-shadow: 0 15px 35px rgba(0, 255, 255, 0.4);
        border-radius: 20px;
}
.ww:hover{
    transform: translateY(-5px) scale(1.03);
        box-shadow: 0 15px 35px rgba(0, 255, 255, 0.4);
        border-radius: 20px;
}
ul{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;

}
nav{
    display: flex;
    
    background-color: rgb(54, 32, 32);
    border-radius: 50px;
}
.container{
     background-color:rgba(26, 15, 15, 0.856);
     width: 60%;
     height: 96%;
     margin-left: 38%;
     border-radius: 20px;
     margin-top: 15px;
     transition: all 1s;
}
.icontainer{
background-color:rgba(26, 15, 15, 0.856);
width: 400px;
height: 550px;
position: absolute;
border-radius: 10px;
margin: 10px 12px ;
overflow: hidden;
transition: all 1s;
}

.icontainer img{
width: 90px;
background-size: cover;
margin-left: 100px;
margin-top: 90px;
border-radius: 50%;
background-position: center;
}

.myname{
color: white;
border-right: 2px solid #fff;
white-space: nowrap;
overflow: hidden;
width: 0;
font-size: 2rem;
animation: typing 3s steps(30, end) forwards, blink 0.6s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blink {
50% { border-color: transparent }
}
.edu h2,h4,p{
color: #ffff;
margin-left: 50px;
}
.edu{
color: #ffff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edu p{
margin-left: 70px;
}
.edu h2{
font-weight: 900;
}
.tele{
width: 20px;
}    
.cer{
color: #ffff;
position: relative;
top: 0;
margin: 30px;
}
.active{
display: none;

}
a{
text-decoration: none;
font-size: 20px;
color: orange;
transition: all .5s;
padding: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: all 1s;

}
a:hover{
color: #ffff;
}
.ww{
color: #ffff;
margin: 30px;

}
.ww::-webkit-scrollbar{
    width: 10px;
}
@media only screen and (max-width:768px) {
    .icontainer{
        width: 200px;
    }
    .icontainer img{
        width: 50px;
        margin-left: 70px;
    }
    .myname{
        font-size: 20px;
        margin-left: 10px;
    }
    a{
        display: flex;
      font-size: 19px;
      padding: 0px;
      flex-direction: row;
      justify-content: space-between;
    }
}
label{
    color: #ffff;
    margin-left: 20px;
}
.detils{
    box-shadow: 8px 7px 9px 10px;
    background-color: transparent;
    border-radius: 30px;
   
}
.detils p{
    padding-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 7s steps(30, end) forwards, blink 0.6s step-end infinite;
}
@media only screen and (max-width:1100px)
{
    .icontainer{
        width: 250px;
    }
    .detils p{
        margin-left: 27px;
    }
    a{
       display: flex;
      font-size: 19px;
      padding: 0px;
      flex-direction: row;
      justify-content: space-between;
    }
}
.detils p{
    margin-left: 7px;
}
div h3,p,h4{
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end) forwards, blink 0.6s step-end infinite;
}
img{
    animation: float 3s ease-in-out infinite;
      box-shadow: 0 10px 25px rgba(0, 255, 255, 0.2);
}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100%{
    opacity:1;
    }
  }
